@using BL.ViewModels;
@model PagedContactsVM

@{
    ViewData["Title"] = "Index";
}

<a asp-action="Create" asp-controller="Contact" class="btn btn-primary btn-lg">Create new contact</a>
<br />

<div class="mt-3">
    <label for="nameFilter">Filter by Name</label>
    <input type="text" id="nameFilter" class="form-control" />
</div>

<table class="table table-hover mt-3">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Notes</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contacts)
        {
            <tr>
                <td>
                    <input type="text" class="form-control @item.Id" id="name-@(item.Id)" value="@item.Name" disabled />
                </td>
                <td>
                    <input type="text" class="form-control @item.Id" id="address-@(item.Id)" value="@item.Address" disabled />
                </td>
                <td>
                    <input type="text" class="form-control @item.Id" id="phone-@(item.Id)" value="@item.Phone" disabled />
                </td>
                <td>
                    <input type="text" class="form-control @item.Id" id="notes-@(item.Id)" value="@item.Notes" disabled />
                </td>
                <td>
                    @* @if (!string.IsNullOrEmpty(item.LockedBy) && item.LockedBy != Context.Request.Cookies["UserName"])
                    { *@
                        <span id="locked-@(item.Id)" hidden>
                            <button type="button" class="btn btn-secondary disabled">Locked</button>
                        </span>
                   @*  }
                    else
                    { *@
                        <span id="unlocked-@(item.Id)">
                            <input type="submit" value="Save" class="btn btn-primary" id="saveBtn-@(item.Id)" data-id="@item.Id" hidden />
                            <button type="button" class="btn btn-info mx-1 editBtn" id="editBtn-@(item.Id)" data-id="@item.Id">Edit</button>
                            <button type="button" class="btn btn-danger mx-1 deleteBtn" id="deleteBtn-@(item.Id)" data-id="@item.Id">Delete</button>
                        </span>
                    @* } *@
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination justify-content-center">
    @if (Model.CurrentPage > 1)
    {
        <a class="page-link" asp-action="Index" asp-controller="Contact" asp-route-pageNumber="1">&laquo;</a>
    }
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <a class="page-link" asp-action="Index" asp-controller="Contact" asp-route-pageNumber="@i">@i</a>
    }
    @if (Model.TotalPages > Model.CurrentPage)
    {
        <a class="page-link" asp-action="Index" asp-controller="Contact" asp-route-pageNumber="@Model.TotalPages">&raquo;</a>
    }
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        // Lock contact
        $('.editBtn').click(function () {
            var id = $(this).data('id');
            var url = '/Contact/LockContact?id=' + id;
            $.ajax({
                url: url,
                type: 'POST',
                success: function (response) { alert("Contact is locked"); },
                error: function (xhr, status, error) { alert("error : " + error) }
            });

            $('#deleteBtn-' + id).hide();
            $('#editBtn-' + id).hide();
            $('#saveBtn-' + id).removeAttr('hidden');
            // Change the input tags to editable
            $('.' + id).removeAttr('disabled');


            $('#saveBtn-' + id).click(function () {
                var name = $('#name-' + id).val();
                var address = $('#address-' + id).val();
                var phone = $('#phone-' + id).val();
                var notes = $('#notes-' + id).val();

                // Submit the data
                $.ajax({
                    url: '/Contact/Edit',
                    type: 'POST',
                    data: { id, name, address, phone, notes },
                    success: function (response) {
                        alert("The contact updated successfully")
                    },
                    error: function (xhr, status, error) {
                        alert('Error: ' + error);
                    }
                });
                // Reset input tags to disabled and actions buttons again
                $('.' + id).attr('disabled', 'disabled');
                $('#deleteBtn-' + id).show();
                $('#editBtn-' + id).show();
                $('#saveBtn-' + id).attr('hidden', 'hidden');
            });
        });

        $('.deleteBtn').click(function () {
            var id = $(this).data('id');
            var confirmation = confirm('Are you sure you want to delete this contact?');
            if (confirmation) {
                var url = '/Contact/DeleteContact?id=' + id;
                window.location.href = url;
            }
        });

        $('#nameFilter').on('input', function () {
            var filterValue = $(this).val().toLowerCase();
            $('tbody tr').each(function () {
                var name = $(this).find('td:first-child input').val().toLowerCase();
                if (name.includes(filterValue)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.6/signalr.min.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/contactHub")
        .build();

    connection.start().then(function () {
        console.log("SignalR connected.");
    }).catch(function (err) {
        console.error(err.toString());
    });

    connection.on("ContactLocked", function (contactId) {
        // Render the updated contact row
        $('#locked-' + contactId).removeAttr('hidden');
        $('#unlocked-' + contactId).attr('hidden', 'hidden');

        console.log("Contact locked: " + contactId);
    });
    
    connection.on("ContactUnlocked", function (contactId) {
        // Render the updated contact row
        $('#unlocked-' + contactId).removeAttr('hidden');
        $('#locked-' + contactId).attr('hidden', 'hidden');

        console.log("Contact unlocked: " + contactId);
    });
</script>
